# US Bikeshare Data Analysis
This Jupyter Notebook is just to explore the data.
the main application code is in the python file.

In [1]:
import pandas as pd
import numpy as np

Data provided by Motivate, a bike share system provider for many major cities in the United States.
Randomly selected data for the first six months of 2017 are provided for three major cities in the US: 
* Chicago 
* New York City
* Washington, DC

In [2]:
# load the file into a Pandas Dataframe
df = pd.read_csv('chicago.csv')

In [3]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [4]:
# check for any NaN values
df.isnull().any()

Unnamed: 0       False
Start Time       False
End Time         False
Trip Duration    False
Start Station    False
End Station      False
User Type        False
Gender            True
Birth Year        True
dtype: bool

In [5]:
# remove Nan values
df.dropna(axis=0,inplace = True)
df.isnull().any()

Unnamed: 0       False
Start Time       False
End Time         False
Trip Duration    False
Start Station    False
End Station      False
User Type        False
Gender           False
Birth Year       False
dtype: bool

In [6]:
# Convert Start Time column from string to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])
start_time = df['Start Time']
start_time.describe()

<ipython-input-6-e751fc52ebd1>:4: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  start_time.describe()

count                  238948
unique                 234366
top       2017-06-29 17:09:27
freq                        3
first     2017-01-01 00:07:57
last      2017-06-30 23:59:01
Name: Start Time, dtype: object

In [7]:
# get the most frequent Month
months = start_time.dt.month
months.mode()[0]

6

In [8]:
# get the most frequent day of the week
# The day of the week with Monday=0, Sunday=6
days = start_time.dt.day_name()
days.mode()[0]

'Tuesday'

In [9]:
# get the most common start hour
hours = start_time.dt.hour
hours.mode()[0]

17

In [10]:
#most commonly used start station
most_start_station = df['Start Station'].value_counts().keys()[0]
most_start_station

'Clinton St & Washington Blvd'

In [11]:
# combine start and end trip in a new column
df['routes']= 'from ' + df['Start Station'] + ' to ' + df['End Station']
# get the most common route
df['routes'].value_counts().keys()[0]

'from Canal St & Madison St to Michigan Ave & Washington St'

In [12]:
# Calculate total travel time
df['Trip Duration'].mean()

699.3908088789193

In [13]:
#Calculate Total travel time
df['Trip Duration'].sum()

167118035

In [14]:
# get user types
df['User Type'].value_counts()

Subscriber    238856
Customer          91
Dependent          1
Name: User Type, dtype: int64

In [15]:
#get user Gender
df['Gender'].value_counts()

Male      181190
Female     57758
Name: Gender, dtype: int64

In [16]:
# Display earliest, most recent, and most common year of birth
year_of_birth = df['Birth Year'].astype(int)
year_of_birth.describe()

count    238948.000000
mean       1980.858342
std          11.004084
min        1899.000000
25%        1975.000000
50%        1984.000000
75%        1989.000000
max        2016.000000
Name: Birth Year, dtype: float64

In [17]:
# filter data by month
# january = 1 , December = 12
df[df['Start Time'].dt.month == 1]

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,routes
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,from May St & Taylor St to Wood St & Taylor St
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,from Clark St & Randolph St to Desplaines St &...
11,71678,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0,from Southport Ave & Wellington Ave to Clark S...
12,19061,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0,from Green St & Madison St to Ada St & Washing...
39,93723,2017-01-26 19:45:41,2017-01-26 19:59:31,830,McClurg Ct & Erie St,Clinton St & Washington Blvd,Subscriber,Male,1977.0,from McClurg Ct & Erie St to Clinton St & Wash...
...,...,...,...,...,...,...,...,...,...,...
299946,69412,2017-01-21 21:29:40,2017-01-21 21:44:59,919,Dayton St & North Ave,Leavitt St & North Ave,Subscriber,Male,1986.0,from Dayton St & North Ave to Leavitt St & Nor...
299958,108699,2017-01-31 11:44:34,2017-01-31 11:52:17,463,Indiana Ave & Roosevelt Rd,Michigan Ave & Madison St,Subscriber,Female,1966.0,from Indiana Ave & Roosevelt Rd to Michigan Av...
299972,44015,2017-01-17 08:42:37,2017-01-17 08:53:20,643,Racine Ave & Wrightwood Ave,Clark St & Wellington Ave,Subscriber,Female,1978.0,from Racine Ave & Wrightwood Ave to Clark St &...
299975,49643,2017-01-18 11:28:36,2017-01-18 11:31:14,158,Dayton St & North Ave,Sheffield Ave & Kingsbury St,Subscriber,Male,1958.0,from Dayton St & North Ave to Sheffield Ave & ...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0,from Orleans St & Elm St (*) to Sheffield Ave ...